body {
    font-family: Verdana, Geneva, sans-serif;
    line-height: 180%;
    background-color: white;
}

.bienvenida {
    font-family: Impact, Charcoal, sans-serif;
    text-align: center;
}

table,
td {
    border: 0px solid #ddd;
    text-align: left;
}

tr {
    border-bottom: 1px solid #ddd;
}

th {
    border: 0px solid #ddd;
    text-align: left;
    background-color: #e7e7e7;
}

table {
    border-collapse: collapse;
    width: 70%;
}

th,
td {
    padding: 15px;
}

.tiempo {
    line-height: 140%;
    border-radius: 25px;
    position: fixed;
    top: 25%;
    right: 4%;
    background-color: wheat;
    width: 200px;
    height: 200px;
    text-align: center;
    align-content: center;
    align-items: center;
}

.submenuLogin {
    text-align: center;
}

.login {
    position: relative;
    margin: 30px auto;
    padding: 20px 20px 20px;
    width: 310px;
    background: white;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
}

.login h1 {
    font: 13px/20px "Lucida Grande", Tahoma, Verdana, sans-serif;
    margin: -20px -20px 21px;
    line-height: 40px;
    font-size: 15px;
    font-weight: bold;
    color: #555;
    text-align: center;
    text-shadow: 0 1px white;
    background: #f3f3f3;
    border-bottom: 1px solid #cfcfcf;
    border-radius: 3px 3px 0 0;
    background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
    background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
    background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
    background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
    -webkit-box-shadow: 0 1px whitesmoke;
    box-shadow: 0 1px whitesmoke;
}

input[type="text"] {
    font-family: Verdana, Geneva, sans-serif;
    padding: 10px 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    outline: none;
}

textarea {
    font-family: Verdana, Geneva, sans-serif;
    width: 30em;
    height: 5em;
    padding: 10px 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    outline: none;
}

input[type="submit"],
input[type="date"] {
    background-color: #e7e7e7;
    border: 2px solid #e7e7e7;
    border-radius: 4px;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

input[type="submit"]:hover {
    background-color: white
}