/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/


/* 
    Created on : 26-nov-2019, 11:27:01
    Author     : Alvaro
*/

.ol-custom {
    top: 4.5em;
    left: .5em;
}

.fullscreen:-webkit-full-screen {
    height: 100%;
    margin: 0;
}

.fullscreen:-ms-fullscreen {
    height: 100%;
}

.fullscreen:fullscreen {
    height: 100%;
}

.fullscreen {
    margin-bottom: 10px;
    width: 100%;
    height: 600px;
}

.ol-rotate {
    top: 3em;
}

.map {
    width: 80%;
    height: 100%;
    float: left;
}

.sidepanel {
    background: #7b98bc;
    width: 20%;
    height: 100%;
    float: left;
}

.sidepanel-title {
    width: 100%;
    font-size: 3em;
    font-family: fantasy;
    color: #ffffff;
    display: block;
    text-align: center;
}

.sidepanel-text {
    font-size: 1em;
    color: #ffffff;
    display: block;
    text-align: center;
}