#navbar {
    list-style-type: none;
    margin: -9px;
    margin-bottom: 15px;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #e7e7e7;
}

#navbar li {
    float: left;
}

#navbar li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar li a:hover:not(.active) {
    background-color: #ddd;
}

#navbar li a.active {
    color: black;
    background-color: wheat;
}

#navbar li a img {
    width: 100px;
    position: relative;
    top: 5px;
}