#inputPublicar {
    width: 25%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    margin-bottom: 15px;
    display: block;
}

.inputEditar {
    width: 100%;
    height: 70px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    margin-bottom: 15px;
}

.fixed {
    position: fixed;
    top: 8.5%;
    left: 0.7%;
    width: 100%;
    margin: 0 auto;
    background: white;
}

.fixedN {
    position: fixed;
    top: -0.7%;
    left: 0;
    width: 100%;
    margin: 0 auto;
    margin-top: 0.9%;
    background: white;
}

table,
td {
    border: 0px solid #ddd;
    text-align: left;
}

tr {
    border-bottom: 1px solid #ddd;
}

th {
    border: 0px solid #ddd;
    text-align: left;
    background-color: #e7e7e7;
}

table {
    border-collapse: collapse;
    width: 80%;
}

th,
td {
    padding: 15px;
}

#button1 {
    display: inline-block;
    margin: 4px 2px;
}