<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>

<head>
    <title>B&uacute;squeda</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/bikesharing.png') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/default.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navbar.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/publicaciones.css') }}" />
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>

<body>
    <!--Navigation bar-->
    <div id="nav-placeholder">
    </div>
    <script>
        $(function() {
            $("#nav-placeholder").load("navbar");
        });
    </script>
    <!--end of Navigation bar-->

    <div align="center">
        <form method="GET" style="margin-left: 0px" action="javascript:void(0)">
            <h2>Buscar publicaciones o usuarios</h2>
            <input type="text" id="text" maxlength="140" style="width: 500px" onsubmit="javascript(0)" onkeyup="actualizar()"><br>
            <p><b style="margin-right: 2em">Filtro:</b>
                <input name="filtro" type="checkbox" id="usuariosCB" onchange="actualizar()" checked/>Usuarios
                <input name="filtro" type="checkbox" id="publicacionesCB" onchange="actualizar()" checked/>Publicaciones<br>
            </p>
        </form>
    </div>
    <div align="center" id="divUsuarios" hidden>
        <h2>Usuarios:</h2>
        <table border="0" id="usuarios" style="margin-top: 0px"></table>
    </div>
    <div align="center" id="divPublicaciones" hidden>
        <h2>Publicaciones:</h2>
        <table id="publicaciones" style="margin-top: 0px">
            <tr>
                <th>Usuario</th>
                <th>Publicaci&oacute;n</th>
                <th>Fecha</th>
            </tr>
        </table>
    </div>
    <div align="center" id="divError">
        <br/>
    </div>
    <script>
        var req;

        function createRequest() {
            var result = null;
            if (window.XMLHttpRequest) { // FireFox, Safari, etc.
                result = new XMLHttpRequest();
            } else if (window.ActiveXObject) { // MSIE
                result = new ActiveXObject("Microsoft.XMLHTTP");
            } else {
                alert("Funcionalidad no soportada por el navegador");
            }
            return result;
        }

        function actualizar() {
            var texto = document.getElementById('text').value;
            var uCB = document.getElementById('usuariosCB').checked;
            var pCB = document.getElementById('publicacionesCB').checked;
            if (uCB) {
                document.getElementById('divUsuarios').hidden = false;
                buscarUsuarios(texto);
            } else {
                document.getElementById('divUsuarios').hidden = true;
            }
            if (pCB) {
                document.getElementById('divPublicaciones').hidden = false;
                buscarPublicaciones(texto);
            } else {
                document.getElementById('divPublicaciones').hidden = true;
            }
        }

        function buscarUsuarios(usuario) {
            var table = document.getElementById('usuarios');
            req = new createRequest();

            req.onload = function() {
                if (req.readyState === 4 || req.status === 200) {
                    var resp = req.responseText;
                    //alert(resp);
                    resp = JSON.parse(resp);
                    while (table.hasChildNodes()) {
                        table.removeChild(table.firstChild);
                    }
                    resp.forEach(user => {
                        var a = document.createElement('a');
                        a.textContent = user.usuario;
                        var td = document.createElement('td');
                        td.style = 'text-align: center';
                        td.appendChild(a);
                        var tr = document.createElement('tr');
                        tr.style = 'border-bottom: 0px';
                        tr.appendChild(td);
                        table.appendChild(tr);
                    });
                }
            };

            var url = "server/usuarios/username/" + usuario;
            req.open("GET", url, false);
            req.setRequestHeader('Accept', 'application/json');
            req.send();
        }

        function buscarPublicaciones(texto) {
            var table = document.getElementById('publicaciones');
            req = new createRequest();

            req.onload = function() {
                if (req.readyState === 4 || req.status === 200) {
                    var resp = req.responseText;
                    //alert(resp);
                    resp = JSON.parse(resp);
                    while (table.childElementCount > 1) {
                        table.removeChild(table.lastChild);
                    }
                    resp.forEach(publicacion => {
                        var tr = document.createElement('tr');
                        var td = document.createElement('td');
                        td.textContent = nombreUsuario(publicacion.idUsuario);
                        tr.appendChild(td);
                        td = document.createElement('td');
                        td.textContent = publicacion.texto;
                        tr.appendChild(td);
                        td = document.createElement('td');
                        td.textContent = publicacion.fecha.substring(0, 10);
                        tr.appendChild(td);
                        table.appendChild(tr);
                    });
                }
            };

            var url = "server/publicaciones/filter/" + texto;
            req.open("GET", url, true);
            req.setRequestHeader('Accept', 'application/json');
            req.send();

        }

        function nombreUsuario(id) {
            var nombre = null;
            req = createRequest();
            req.onload = function() {
                if (req.readyState === 4 || req.status === 200) {
                    var resp = req.responseText;
                    resp = JSON.parse(resp);
                    nombre = resp['usuario'];
                }
            };

            var url = "server/usuarios/" + id;
            req.open("GET", url, false);
            req.setRequestHeader('Accept', 'application/json');
            req.send();

            return nombre;
        }
    </script>
</body>

</html>