<html lang="en">

<head>
    <title>NovaBikes - Iniciar Sesi&oacute;n</title>
    <meta name="google-signin-scope" content="profile email">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/bikesharing.png') }}" />
    <meta name="google-signin-client_id" content="727155376905-c95apk9ljq02eao3afvvmpms64c9s50o.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/default.css') }}" />
</head>

<body style="background: #0ca3d2">
    <div align="center" class="login">
        <h1>NovaBikes</h1>
        <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
    </div>

    <div class="submenuLogin">
        &iquest;No tienes cuenta? <a href="https://accounts.google.com/signup/v2/webcreateaccount?flowName=GlifWebSignIn&flowEntry=SignUp">Crear una</a>.<br>
        <a href="#" onclick="signOut();">Cambiar de usuario</a> <br>
    </div>

    <script>
        var id_token;

        function onSignIn(googleUser) {
            // Useful data for your client-side scripts:
            var profile = googleUser.getBasicProfile();
            console.log("ID: " + profile.getId()); // Don't send this directly to your server!
            console.log('Full Name: ' + profile.getName());
            console.log('Given Name: ' + profile.getGivenName());
            console.log('Family Name: ' + profile.getFamilyName());
            console.log("Image URL: " + profile.getImageUrl());
            console.log("Email: " + profile.getEmail());

            //Obtenemos el token para enviarlo al servidor
            id_token = googleUser.getAuthResponse().id_token;
            console.log("ID Token: " + id_token);
            document.cookie = "email=" + profile.getEmail();
            document.cookie = "idtoken=" + id_token; //Guardamos el token en la cookie
            document.cookie = "auth2=" + gapi.auth2.getAuthInstance();

            //Creamos la peticion para enviar el token al servidor
            var xhr = new XMLHttpRequest();
            xhr.open('POST', 'server/tokensignin');
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

            xhr.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    window.location.href = 'initial_page';
                } else if (this.status == 401) {
                    alert("Autentificacion fallida")
                }
            };

            //Enviamos el token
            xhr.send("token=" + id_token);
        }

        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function() {
                console.log('User signed out.');
            });
            auth2.disconnect();
        }
    </script>
</body>

</html>