<html>

<head>
    <title>NovaBikes</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/bikesharing.png') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navbar.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/default.css') }}" />
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <meta name="google-signin-client_id" content="727155376905-c95apk9ljq02eao3afvvmpms64c9s50o.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>

<body onload="ubicacion()">
    <div style="display: none" class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
    <!--Navigation bar-->
    <div id="nav-placeholder">
    </div>
    <script>
        $(function() {
            $("#nav-placeholder").load("navbar");
        });
    </script>
    <!--end of Navigation bar-->

    <h1 class="bienvenida" id="nombre">Cargando</h1>

    <div id="rootPubli" class="publicaciones">
        <h3 style="float: left;">&Uacute;ltimas Publicaciones</h1><br><br><br>
            <script>
                const app = document.getElementById('rootPubli');

                const table = document.createElement('table');
                const firstRow = document.createElement('tr');
                const usuario = document.createElement('th');
                usuario.textContent = "Usuario";
                const texto = document.createElement('th');
                texto.textContent = "Publicación";
                const fecha = document.createElement('th');
                fecha.textContent = "Fecha";
                const imagen = document.createElement('th');
                imagen.textContent = 'Imagen';

                firstRow.appendChild(usuario);
                firstRow.appendChild(texto);
                firstRow.appendChild(fecha);
                firstRow.appendChild(imagen);
                table.appendChild(firstRow);

                app.appendChild(table);
                getPublicaciones();

                function getPublicaciones() {
                    var request = createRequest();
                    request.open('GET', 'server/publicaciones', true);
                    request.setRequestHeader('Accept', 'application/json');
                    //request.setRequestHeader('Access-Control-Allow-Origin', '*');

                    request.onload = function() {
                        var data = JSON.parse(this.response);

                        if (request.readyState === 4 && request.status === 200) {
                            data.forEach(publicacion => {
                                const row = document.createElement('tr');
                                const tdUsuario = document.createElement('td');
                                const tdTexto = document.createElement('td');
                                const tdFecha = document.createElement('td');
                                const tdImagen = document.createElement('td');
                                var nombreUsuario = findUsuario(publicacion.idUsuario);
                                tdUsuario.textContent = (nombreUsuario === null ? 'Anonymous' : nombreUsuario.usuario);
                                tdTexto.textContent = publicacion.texto;
                                tdFecha.textContent = publicacion.fecha.substr(0, 10);
                                if (publicacion.img !== null) {
                                    var enlace = document.createElement('a');
                                    enlace.href = publicacion.img;
                                    var img = document.createElement('img');
                                    img.height = 100
                                    img.src = publicacion.img;
                                    enlace.appendChild(img);
                                    tdImagen.appendChild(enlace);
                                } else {
                                    tdImagen.textContent = "";
                                }
                                row.appendChild(tdUsuario);
                                row.appendChild(tdTexto);
                                row.appendChild(tdFecha);
                                row.appendChild(tdImagen);
                                table.appendChild(row);
                            });
                        } else {
                            const errorMessage = document.createElement('marquee');
                            errorMessage.textContent = 'Error';
                            app.appendChild(errorMessage);
                        }
                    };

                    request.send();
                }

                function findUsuario(idUser) {
                    var request = createRequest();
                    request.open('GET', 'server/usuarios/' + idUser + '/', false);
                    request.setRequestHeader('Accept', 'application/json');
                    var data = null;

                    request.onload = function() {
                        if (request.readyState === 4 && request.status === 200) {
                            data = JSON.parse(this.response);
                        }
                    };

                    request.send();

                    return data;
                }

                function createRequest() {
                    var result = null;

                    if (window.XMLHttpRequest) {
                        result = new XMLHttpRequest();
                    } else if (window.ActiveXObject) {
                        result = new ActiveXObject("Microsoft.XMLHTTP");
                    } else {
                        alert("Funcionalidad no soportada por el navegador");
                    }

                    return result;
                }
            </script>
    </div>

    <div class="tiempo" id="tiempo">
        <img id="imgT" align="center"><br/> Temperatura: <span id="temperatura"></span><br/> Humedad: <span id="humedad"></span><br/> Viento: <span id="viento"></span><br/>
        <span id="recomendacion"></span>
    </div>

    <script>
        function createRequest() {
            var result = null;
            if (window.XMLHttpRequest) { // FireFox, Safari, etc.
                result = new XMLHttpRequest();
            } else if (window.ActiveXObject) { // MSIE
                result = new ActiveXObject("Microsoft.XMLHTTP");
            } else {
                alert("Funcionalidad no soportada por el navegador");
            }
            return result;
        }

        function onSignIn(googleUser) {
            var profile = googleUser.getBasicProfile();
            document.getElementById("nombre").textContent = "Bienvenido! " + profile.getName();
        }

        function getCookie(cname) {
            var name = cname + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i].trim();
                if (c.indexOf(name) === 0)
                    return c.substring(name.length, c.length);
            }
            return "";
        }

        function ubicacion() {

            if (navigator.geolocation) {
                var timeoutVal = 10 * 1000 * 1000;
                navigator.geolocation.getCurrentPosition(
                    displayPosition,
                    displayError, {
                        enableHighAccuracy: true,
                        timeout: timeoutVal,
                        maximumAge: 0
                    }
                );
            } else {
                alert("La geolocalización no está disponible en este navegador");
            }

            var request = new createRequest();

            function displayPosition(position) {
                // Si ya hay una ubicación en el mapa la borramos

                // Centramos el mapa en la nueva posición
                lat = position.coords.latitude;
                lon = position.coords.longitude;
                API_KEY = "68ed248b39e1484f0b04b5b254e2d6c0";


                //Creamos el marcador y el círculo sobre la ubicación
                request.onload = function() {
                    var resp = request.responseText;
                    var json = JSON.parse(resp);

                    var temp = json['main']['temp'];
                    var vie = json.wind.speed;
                    var hum = json.main.humidity;
                    var img = json.weather[0].icon;
                    //alert(hum);

                    var temperatura = document.getElementById("temperatura");
                    var humedad = document.getElementById("humedad");
                    var viento = document.getElementById("viento");
                    var imgTiempo = document.getElementById("imgT");

                    temp = temp - 273.15;

                    imgTiempo.src = "http://openweathermap.org/img/wn/" + img + "@2x.png";
                    temperatura.innerHTML = Number(temp.toFixed(0)) + ' ºC';
                    humedad.innerHTML = hum;
                    viento.innerHTML = vie;

                }

                // Creamos un nuevo layer con el marcador y el círculo
                var url = "https://api.openweathermap.org/data/2.5/weather?lat=" + lat + "&lon=" + lon + "&appid=" + API_KEY;
                request.open("GET", url, true);
                request.setRequestHeader('Accept', 'application/json');
                request.send();
            }

            function displayError() {
                alert("Error al acceder a la ubicación");
            }
        }
    </script>
</body>

</html>