<!doctype html>
<html lang="en">

<head>
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/bikesharing.png') }}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.1.1/css/ol.css" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mapa.css') }}" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navbar.css') }}" />
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.1.1/build/ol.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/default.css') }}" />
    <title>NovaBikes - Mapa</title>
</head>

<body onload="init()">
    <!--Navigation bar-->
    <div id="nav-placeholder">
    </div>
    <script>
        $(function() {
            $("#nav-placeholder").load("navbar");
        });
    </script>
    <!--end of Navigation bar-->
    <h3>Selecciona un punto en el mapa para cambiar tu ubicaci&oacute;n</h3>
    <div id="fullscreen" class="fullscreen">
        <div id="map" class="map"></div>
        <div class="sidepanel">
            <span class="sidepanel-title" style="padding-top: 1em;">Configuraci&oacute;n</span>
            <br/>
            <span class="sidepanel-text">
                    <input type="checkbox" id="parkings" onchange="aparcamientos()"/> Aparcamientos en 1 kil&oacute;metro
                </span>
            <span class="sidepanel-text">
                    <input type="checkbox" id="bikesharings" onchange="bikesharings()"/> Puntos de bike-sharing en 1 kil&oacute;metro
                </span>
            <span class="sidepanel-text">
                    <input type="checkbox" id="parkingCercano" onchange="aparcamientoCercano()"/> Aparcamiento m&aacute;s cercano
                </span>
            <span class="sidepanel-text">
                    <input type="checkbox" id="bikesharingCercano" onchange="bikesharingCercano()"/> Punto de bike-sharing m&aacute;s cercano
                </span>
        </div>
    </div>
    <script type="text/javascript">
        var map = null;
        var lat = 36.7151600;
        var lon = -4.4203400;
        var radio = 1000;
        var selectLayer;
        var locationVectorLayer;
        var pointsVectorLayer;
        var parkingsVectorLayer;
        var nearestPointLayer;
        var nearestParkingLayer;

        // Iniciación del mapa con centro en Málaga
        function init() {
            map = new ol.Map({
                controls: ol.control.defaults().extend([
                    new ol.control.FullScreen({
                        source: 'fullscreen'
                    }),
                    new locationControl()
                ]),
                target: 'map',
                layers: [new ol.layer.Tile({
                    source: new ol.source.OSM()
                })],
                view: new ol.View({
                    center: ol.proj.fromLonLat([lon, lat]),
                    zoom: 12
                })
            });
            // Al hacer click en el mapa, se muestran se cambia la localización
            map.on('click', function(evt) {
                if (selectLayer) {
                    map.removeLayer(selectLayer);
                }
                var coord = ol.proj.toLonLat(evt.coordinate);
                lon = coord[0];
                lat = coord[1];
                var point = new ol.Feature({
                    geometry: new ol.geom.Point(evt.coordinate)
                });
                var style = new ol.style.Style({
                    image: new ol.style.Circle({
                        radius: 6,
                        stroke: new ol.style.Stroke({
                            color: 'black'
                        }),
                        fill: new ol.style.Fill({
                            color: '#38c7ff'
                        })
                    })
                });
                point.setStyle(style);

                selectLayer = new ol.layer.Vector({
                    source: new ol.source.Vector({
                        features: [point]
                    })
                });
                map.addLayer(selectLayer);

                document.getElementById("parkings").checked = false;
                document.getElementById("bikesharings").checked = false;
                document.getElementById("parkingCercano").checked = false;
                document.getElementById("bikesharingCercano").checked = false;
            });
        }

        // Botón para buscar ubicación
        var locationControl = /*@__PURE__*/ (function(control) {
            function locationControl(opt_options) {
                var options = opt_options || {};

                var button = document.createElement('button');
                button.innerHTML = '<img src="static/images/location.png" style="width: 80%; height: 80%" />';

                var element = document.createElement('div');
                element.className = 'location ol-custom ol-unselectable ol-control';
                element.appendChild(button);

                control.call(this, {
                    element: element,
                    target: options.target
                });

                button.addEventListener('click', this.handleLocation.bind(this), false);
            }

            if (control)
                locationControl.__proto__ = control;
            locationControl.prototype = Object.create(control && control.prototype);
            locationControl.prototype.constructor = locationControl;

            locationControl.prototype.handleLocation = function handleLocation() {
                ubicacion();
                document.getElementById("parkings").checked = false;
                document.getElementById("bikesharings").checked = false;
                document.getElementById("parkingCercano").checked = false;
                document.getElementById("bikesharingCercano").checked = false;
            };

            return locationControl;
        }(ol.control.Control));

        function aparcamientos() {
            if (document.getElementById("parkings").checked) {
                map.getView().setCenter(ol.proj.fromLonLat([lon, lat]));
                map.getView().setZoom(15);
                aparcamientosEnRadio();
            } else {
                map.removeLayer(parkingsVectorLayer);
            }
        }

        function bikesharings() {
            if (document.getElementById("bikesharings").checked) {
                map.getView().setCenter(ol.proj.fromLonLat([lon, lat]));
                map.getView().setZoom(15);
                bikeSharingEnRadio();
            } else {
                map.removeLayer(pointsVectorLayer);
            }
        }

        function aparcamientoCercano() {
            if (document.getElementById("parkingCercano").checked) {
                map.getView().setCenter(ol.proj.fromLonLat([lon, lat]));
                aparcamientoMasCercano();
            } else {
                map.removeLayer(nearestParkingLayer);
            }
        }

        function bikesharingCercano() {
            if (document.getElementById("bikesharingCercano").checked) {
                map.getView().setCenter(ol.proj.fromLonLat([lon, lat]));
                bikeSharingMasCercano();
            } else {
                map.removeLayer(nearestPointLayer);
            }
        }

        // Buscamos la ubicación del usuario a través del navegador y mostramos su posición centrada en el mapa
        function ubicacion() {

            if (navigator.geolocation) {
                var timeoutVal = 10 * 1000 * 1000;
                navigator.geolocation.getCurrentPosition(
                    displayPosition,
                    displayError, {
                        enableHighAccuracy: true,
                        timeout: timeoutVal,
                        maximumAge: 0
                    }
                );
            } else {
                alert("La geolocalización no está disponible en este navegador");
            }

            function displayPosition(position) {
                // Si ya hay una ubicación en el mapa la borramos
                map.removeLayer(locationVectorLayer);
                // Centramos el mapa en la nueva posición
                lat = position.coords.latitude;
                lon = position.coords.longitude;
                var view = map.getView();
                view.setCenter(ol.proj.transform([lon, lat], 'EPSG:4326', 'EPSG:3857'));
                view.setZoom(15);
                //Creamos el marcador y el círculo sobre la ubicación
                var marker = new ol.Feature({
                    geometry: new ol.geom.Point(
                        ol.proj.fromLonLat([lon, lat])
                    )
                });
                marker.setStyle(new ol.style.Style({
                    image: new ol.style.Icon(({
                        crossOrigin: 'anonymous',
                        src: 'static/images/marker.png',
                        anchor: [0.5, 0.9],
                        scale: 0.07
                    }))
                }));
                var circle = new ol.geom.Circle(map.getView().getCenter(), radio);
                var circleFeature = new ol.Feature(circle);
                circleFeature.setStyle(new ol.style.Style({
                    fill: new ol.style.Fill({
                        color: 'rgba(63, 127, 191, 0.3)'
                    })
                }));
                // Creamos un nuevo layer con el marcador y el círculo
                locationVectorLayer = new ol.layer.Vector({
                    name: 'location',
                    source: new ol.source.Vector({
                        features: [marker, circleFeature]
                    })
                });
                // Añadimos el layer al mapa
                map.addLayer(locationVectorLayer);
            }

            function displayError() {
                alert("Error al acceder a la ubicación");
            }
        }


        // Creamos una petición para llamar al servicio rest
        function createRequest() {
            var result = null;
            if (window.XMLHttpRequest) { // FireFox, Safari, etc.
                result = new XMLHttpRequest();
            } else if (window.ActiveXObject) { // MSIE
                result = new ActiveXObject("Microsoft.XMLHTTP");
            } else {
                alert("Funcionalidad no soportada por el navegador");
            }
            return result;
        }

        // Llamada al servicio de datos abiertos para recibir todos los aparcamientos en un radio
        function aparcamientosEnRadio() {
            var req = createRequest(); // Definida arriba
            // Respuesta a la petición del servicio 
            req.onload = function() {
                if (req.readyState === 4 || req.status === 200) {
                    // Si la petición ha tenido éxito leemos la respuesta
                    var resp = req.responseText;
                    //alert(resp);
                    if (resp !== "") {
                        var json = JSON.parse(resp);
                        var features = json['features'];
                        if (parkingsVectorLayer) {
                            map.removeLayer(parkingsVectorLayer);
                        }
                        if (nearestParkingLayer) {
                            document.getElementById("parkingCercano").checked = false;
                            map.removeLayer(nearestParkingLayer);
                        }
                        var vectorSource = new ol.source.Vector({
                            features: []
                        });
                        features.forEach(feature => {
                            // Añadimos al mapa los puntos que hemos recibido en el GeoJSON
                            var type = feature['geometry']['type'];
                            var coord = feature['geometry']['coordinates'];
                            if (type === "Point") {
                                var point = new ol.Feature({
                                    geometry: new ol.geom.Point(
                                        ol.proj.fromLonLat([coord[0], coord[1]])
                                    )
                                });
                                point.setStyle(new ol.style.Style({
                                    image: new ol.style.Icon(({
                                        crossOrigin: 'anonymous',
                                        src: 'static/images/parking.png',
                                        anchor: [0.5, 0.9],
                                        scale: 0.015
                                    }))
                                }));
                                vectorSource.addFeature(point);
                            } else {
                                alert("Tipo de geometría no soportado");
                            }
                        });

                        parkingsVectorLayer = new ol.layer.Vector({
                            name: 'parking',
                            source: vectorSource
                        });
                        map.addLayer(parkingsVectorLayer);
                    }
                }
            };
            // Llamamos al servicio de aparcamientos de bicis
            var url = "server/datosAbiertos/aparcamientos/" + lat + "/" + lon + "/" + radio;
            req.open("GET", url, true);
            req.send();

        }

        // Llamada al servicio de datos abiertos para recibir todos los puntos de bike-sharing en un radio
        function bikeSharingEnRadio() {
            var req = createRequest(); // Definida arriba
            // Respuesta a la petición del servicio 
            req.onload = function() {
                if (req.readyState === 4 || req.status === 200) {
                    // Si la petición ha tenido éxito leemos la respuesta
                    var resp = req.responseText;
                    //alert(resp);
                    if (resp !== "") {
                        var json = JSON.parse(resp);
                        var features = json['features'];
                        if (pointsVectorLayer) {
                            map.removeLayer(pointsVectorLayer);
                        }
                        if (nearestPointLayer) {
                            document.getElementById("bikesharingCercano").checked = false;
                            map.removeLayer(nearestPointLayer);
                        }
                        var vectorSource = new ol.source.Vector({
                            features: []
                        });
                        features.forEach(feature => {
                            // Añadimos al mapa los puntos que hemos recibido en el GeoJSON
                            var type = feature['geometry']['type'];
                            var coord = feature['geometry']['coordinates'];
                            if (type === "Point") {
                                var point = new ol.Feature({
                                    geometry: new ol.geom.Point(
                                        ol.proj.fromLonLat([coord[0], coord[1]])
                                    )
                                });
                                point.setStyle(new ol.style.Style({
                                    image: new ol.style.Icon(({
                                        crossOrigin: 'anonymous',
                                        src: 'static/images/bikesharing.png',
                                        anchor: [0.5, 0.9],
                                        scale: 0.08
                                    }))
                                }));
                                vectorSource.addFeature(point);
                            } else {
                                alert("Tipo de geometría no soportado");
                            }

                        });

                        pointsVectorLayer = new ol.layer.Vector({
                            name: 'points',
                            source: vectorSource
                        });
                        map.addLayer(pointsVectorLayer);
                    }
                }
            };
            // Llamamos al servicio de aparcamientos de bicis
            var url = "server/datosAbiertos/bikesharing/" + lat + "/" + lon + "/" + radio;
            req.open("GET", url, true);
            req.send();

        }

        // Llamada al servicio de datos abiertos para recibir el aparcamiento en un radio
        function aparcamientoMasCercano() {
            var req = createRequest(); // Definida arriba
            // Respuesta a la petición del servicio 
            req.onload = function() {
                if (req.readyState === 4 || req.status === 200) {
                    // Si la petición ha tenido éxito leemos la respuesta
                    var resp = req.responseText;
                    //alert(resp);
                    if (nearestParkingLayer) {
                        map.removeLayer(nearestParkingLayer);
                    }
                    if (parkingsVectorLayer) {
                        document.getElementById("parkings").checked = false;
                        map.removeLayer(parkingsVectorLayer);
                    }
                    var vectorSource = new ol.source.Vector({
                        features: []
                    });
                    if (resp !== "") {
                        var feature = JSON.parse(resp);
                        // Añadimos al mapa el punto que hemos recibido en el GeoJSON
                        var type = feature['geometry']['type'];
                        var coord = feature['geometry']['coordinates'];
                        if (type === "Point") {
                            var point = new ol.Feature({
                                geometry: new ol.geom.Point(
                                    ol.proj.fromLonLat([coord[0], coord[1]])
                                )
                            });
                            point.setStyle(new ol.style.Style({
                                image: new ol.style.Icon(({
                                    crossOrigin: 'anonymous',
                                    src: 'static/images/parking.png',
                                    anchor: [0.5, 0.9],
                                    scale: 0.015
                                }))
                            }));
                            vectorSource.addFeature(point);
                        } else {
                            alert("Tipo de geometría no soportado");
                        }

                        nearestParkingLayer = new ol.layer.Vector({
                            name: 'parkingCercano',
                            source: vectorSource
                        });
                        map.addLayer(nearestParkingLayer);
                    }
                }
            };
            // Llamamos al servicio de aparcamientos de bicis
            var url = "server/datosAbiertos/aparcamientos/" + lat + "/" + lon;
            req.open("GET", url, true);
            req.send();

        }

        // Llamada al servicio de datos abiertos para recibir el aparcamiento en un radio
        function bikeSharingMasCercano() {
            var req = createRequest(); // Definida arriba
            // Respuesta a la petición del servicio 
            req.onload = function() {
                if (req.readyState === 4 || req.status === 200) {
                    // Si la petición ha tenido éxito leemos la respuesta
                    var resp = req.responseText;
                    //alert(resp);
                    if (nearestPointLayer) {
                        map.removeLayer(nearestPointLayer);
                    }
                    if (pointsVectorLayer) {
                        document.getElementById("bikesharings").checked = false;
                        map.removeLayer(pointsVectorLayer);
                    }
                    var vectorSource = new ol.source.Vector({
                        features: []
                    });
                    if (resp !== "") {
                        var feature = JSON.parse(resp);
                        // Añadimos al mapa el punto que hemos recibido en el GeoJSON

                        var type = feature['geometry']['type'];
                        var coord = feature['geometry']['coordinates'];
                        if (type === "Point") {
                            var point = new ol.Feature({
                                geometry: new ol.geom.Point(
                                    ol.proj.fromLonLat([coord[0], coord[1]])
                                )
                            });
                            point.setStyle(new ol.style.Style({
                                image: new ol.style.Icon(({
                                    crossOrigin: 'anonymous',
                                    src: 'static/images/bikesharing.png',
                                    anchor: [0.5, 0.9],
                                    scale: 0.08
                                }))
                            }));
                            vectorSource.addFeature(point);
                        } else {
                            alert("Tipo de geometría no soportado");
                        }

                        nearestPointLayer = new ol.layer.Vector({
                            name: 'parkingCercano',
                            source: vectorSource
                        });
                        map.addLayer(nearestPointLayer);
                    }
                }
            };
            // Llamamos al servicio de aparcamientos de bicis
            var url = "server/datosAbiertos/aparcamientos/" + lat + "/" + lon;
            req.open("GET", url, true);
            req.send();

        }
    </script>
</body>

</html>