<ul id="navbar">
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="1095876278597-9h95nlj9o5arlm11hmhlr5gcp1becjmm.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <div style="display: none" class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>

    <li id="link1">
        <a href="initial_page">
            <img border="0" alt="NovaBikes" src="{{ url_for('static', filename='images/logo.png') }}">
        </a>
    </li>
    <li id="link2"><a href="mapa">Mapa</a></li>
    <li id="link3"><a href="publicaciones">Publicaciones</a></li>
    <li id="link5"><a href="busqueda">B&uacute;squeda</a></li>
    <li id="link4" style="float:right"><a href="/" onclick="signOut()">Cerrar Sesi&oacute;n</a></li>
    <li id="link6" style="float:right"><a href="perfil">Mi perfil</a></li>
</ul>

<script>
    const actualUrl = document.URL;
    const navbar = document.getElementById('navbar');
    const links = navbar.getElementsByTagName('li');
    checkActive(links);

    function checkActive(links) {
        for (link of links) {
            aLink = link.getElementsByTagName('a')[0];
            if (aLink.href === actualUrl) {
                aLink.classList.add('active');
            }
        }
    }

    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function() {
            console.log('User signed out.');
        });
        auth2.disconnect();
    }

    function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i].trim();
            if (c.indexOf(name) === 0)
                return c.substring(name.length, c.length);
        }
        return "";
    }
</script>