<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>

<head>
    <title>Perfil Usuario</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/bikesharing.png') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navbar.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/default.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/publicaciones.css') }}" />
    <script>
        var images = "{{ get_static_prefix }}".concat("images/") //Acceder con static_url.concat("imagen.png")
    </script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>

<body onload="init()">

    <!--Navigation bar-->
    <div id="nav-placeholder">
    </div>
    <script>
        $(function() {
            $("#nav-placeholder").load("navbar");
        });
    </script>
    <!--end of Navigation bar-->

    <div id="checkToken">
    </div>
    <script>
        $(function() {
            $("#checkToken").load("check_token");
        });
    </script>
    <!--end of Navigation bar-->

    <div id="includedContent"></div>

    <center>
        <h2>Mi Perfil</h2>
        <form action="javascript:void(0);">
            <table style="width: 50%">
                <tr>
                    <td style="text-align: right">Nombre de usuario: </td>
                    <td><span id="usernameSpan"></span>
                        <input hidden type="text" id="username" style="width: 200px;" required> </td>
                </tr>
                <tr>
                    <td style="text-align: right">Nombre completo: </td>
                    <td><span id="fullNameSpan"></span>
                        <input hidden type="text" id="fullName" style="width: 200px;"> </td>
                </tr>
                <tr>
                    <td style="text-align: right">Correo electr&oacute;nico: </td>
                    <td><span id="emailSpan"></span> </td>
                </tr>
                <tr>
                    <td style="text-align: right">Fecha de nacimiento: </td>
                    <td><span id="birthDateSpan"></span>
                        <input hidden type="date" id="birthDate" style="width: 200px;" required> </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center">
                        <input type="submit" id="botonEditar" onclick="enableEditing()" value="Editar perfil" />
                        <input hidden type="submit" id="botonConfirmar" onclick="edit()" value="Confirmar cambios" />
                        <input hidden type="submit" id="botonCancelar" onclick="disableEditing()" value="Cancelar" />
                    </td>
                </tr>
            </table>
        </form>
    </center>
    <script>
        var email = getCookie("email");
        var username = document.getElementById("username");
        var fullName = document.getElementById("fullName");
        var birthDate = document.getElementById("birthDate");
        var usernameSpan = document.getElementById("usernameSpan");
        var fullNameSpan = document.getElementById("fullNameSpan");
        var birthDateSpan = document.getElementById("birthDateSpan");
        var emailSpan = document.getElementById("emailSpan");
        var botonEditar = document.getElementById("botonEditar");
        var botonConfirmar = document.getElementById("botonConfirmar");
        var botonCancelar = document.getElementById("botonCancelar");
        var user;
        var req;

        function init() {

            req = new createRequest();

            req.onload = function() {
                if (req.readyState === 4 || req.status === 200) {
                    var resp = req.responseText;
                    //alert(resp);
                    resp = JSON.parse(resp);
                    user = resp[0];
                    username.value = user['usuario'];
                    usernameSpan.textContent = user['usuario'];
                    if (user['nombre'] !== undefined) {
                        fullName.value = user['nombre'];
                        fullNameSpan.textContent = user['nombre'];
                    } else {
                        fullNameSpan.textContent = 'Sin determinar';
                    }
                    emailSpan.textContent = user['email'];
                    if (user['birth_date'] !== null) {
                        birthDate.value = user['birth_date'].substring(0, 10);
                        birthDateSpan.textContent = user['birth_date'].substring(0, 10);
                    } else {
                        birthDateSpan.textContent = 'Sin determinar';
                    }
                } else {
                    init();
                }
            };

            var url = "server/usuarios/email/" + email;
            req.open("GET", url, true);
            req.setRequestHeader('Accept', 'application/json');
            req.send();
        }

        function enableEditing() {
            usernameSpan.hidden = true;
            fullNameSpan.hidden = true;
            birthDateSpan.hidden = true;
            botonEditar.hidden = true;
            username.hidden = false;
            fullName.hidden = false;
            birthDate.hidden = false;
            botonConfirmar.hidden = false;
            botonCancelar.hidden = false;
        }

        function disableEditing() {
            usernameSpan.hidden = false;
            fullNameSpan.hidden = false;
            birthDateSpan.hidden = false;
            botonEditar.hidden = false;
            username.hidden = true;
            fullName.hidden = true;
            birthDate.hidden = true;
            botonConfirmar.hidden = true;
            botonCancelar.hidden = true;
        }

        function edit() {
            if (user.usuario !== username.value || user.nombre !== fullName.value ||
                (typeof user.fechaNacimiento === "undefined" && birthDate.value !== "") ||
                (typeof user.fechaNacimiento !== "undefined" && birthDate.value === "") ||
                (typeof user.fechaNacimiento !== "undefined" && birthDate.value !== "" &&
                    user.fechaNacimiento.toString().substring(0, 10) !== birthDate.value)) {
                req = new createRequest();

                req.onload = function() {
                    disableEditing();
                    init();
                };

                var url = 'server/usuarios/' + user.id + '/';
                req.open("PUT", url, true);
                req.setRequestHeader('Content-Type', 'application/json');
                jsonResp = JSON.stringify({
                    "id": user.id,
                    "usuario": username.value,
                    "email": user.email,
                    "nombre": fullName.value,
                    "birth_date": birthDate.value === "" ? null : birthDate.value
                });
                req.send(jsonResp);
            }
        }
        // Creamos una petición para llamar al servicio rest
        function createRequest() {
            var result = null;
            if (window.XMLHttpRequest) { // FireFox, Safari, etc.
                result = new XMLHttpRequest();
            } else if (window.ActiveXObject) { // MSIE
                result = new ActiveXObject("Microsoft.XMLHTTP");
            } else {
                alert("Funcionalidad no soportada por el navegador");
            }
            return result;
        }

        function getCookie(cname) {
            var name = cname + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i].trim();
                if (c.indexOf(name) === 0)
                    return c.substring(name.length, c.length);
            }
            return "";
        }
    </script>
</body>

</html>