<!DOCTYPE html>
<html>

<head>
    <title>Novabikes - Publicaciones</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/bikesharing.png') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navbar.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/default.css') }}" />
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>

<body onload="init()">
    <!--Navigation bar-->
    <div id="nav-placeholder" class="fixedN">
    </div>
    <script>
        $(function() {
            $("#nav-placeholder").load("navbar");
        });
    </script>
    <!--end of Navigation bar-->

    <div id="root"></div>
    <script src="{{ url_for('static', filename='js/publicaciones.js') }}"></script>
</body>

</html>